Makefile
Makefile.in
version.texi
stamp-vti
heroes.info*
heroes.log
heroes.dvi
heroes.aux
heroes.cp
heroes.fn
heroes.vr
heroes.tp
heroes.ky
heroes.pg
heroes.toc
heroes.cps
heroes.vrs
heroes.html
heroes.ps
stamp-1
heroes-api.info*
heroes-api.log
heroes-api.dvi
heroes-api.aux
heroes-api.cp
heroes-api.fn
heroes-api.vr
heroes-api.tp
heroes-api.ky
heroes-api.pg
heroes-api.toc
heroes-api.cps
heroes-api.vrs
heroes-api.fns
heroes-api.html
heroes-api.ps
debugchn.texi
people.texi
tmp1.texi
