;!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
;!!  PAS DE TABULATIONS ICI  !!
;!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

;========================
; nbr max de textes
m190

;лл
;лл  heroes.c
;лл
;======================== Higher-Scores
t10 HIGHER SCORES

;======================== Bonus
t15 SIZE IS %d          ;(L+)
t16 SIZE IS %d          ;(L-)
t17 SPEEDED UP
t18 SPEEDED DOWN
t19 GET %dPTS
t20 INVINCIBLE!
t21 GET TURBO+
t22 GET TURBO-
t23 EXTRA-LIFE!
t24 INVERTED %d
t25 STOPPED %d
;======================== Vies
t30 %d LIVES LEFT
t31 LAST LIFE
;======================== Nouveau score
t35 PLAYER %d
t36 CAME IN THE TOP 10
t37 ENTER YOUR NAME :
;======================== Quitter le jeu ?
t40 QUIT THIS GAME ?
t41 NO
t42 YES
;======================== Retour en mode clavier (si le joy se debranche)
t45 KEYBOARD MODE
;======================== Fin de niveau
t50 PLAYER %d WON !
t51 EVERYONE LOST !
t52 YOU LOST !
t53 SIZE  PTS  LIVES    ; QUEST
t54 PTS  LIVES          ; DEATHM
t55  MEN  PTS  LIVES    ; KILLEM (/!\ espace au debut)
t56 CA$H  PTS  LIVES    ; TCASH
t57 COLORS  PTS  LIVES  ; COLOR
t58 NEXT LEVEL
t59 SAVE...
t60 PRESS RETURN
t61 ROUND %d/%d
t62 WINS  PTS  LIVES    ; ROUND
;======================== Chargements
t65 -LEVEL %d-
t66 -ROUND %d/%d-
;======================== Lancement de l'installation
t70 HEORES.EXE not found in current direcory.\n
t71 \nWARNING: you are about to install HEROES from floppies.\nThis executable will copy itself to your harddrive and glue datas \nto itself. This may confuse some virus watchers like TBFILE (from TBAV); they\nwill try (unsuccessfully) to pop up a warning.\n\nIF YOU HAVE PROBLEMS, you can install HEROES manually:\n\t1) copy all files from all disks on your hard drive.\n\t2) from your harddrive do\n\t\tcopy /b heroes.exe+heroes.xex\n\t3) and (important)\n\t\tdel heroes.xex\n\nPRESS A KEY to continue.
;======================== Windaube detected
t75 Sorry, Heroes is a DOS game. You'd better run it out of Windows.\nIf you want to play under Windows anyway, run `HEROES WIN' (but you may\nget warning-boxes from Windows).

;лл
;лл  install.c
;лл
;======================== Installation
t80 DISK %c:\
t81 INSTALL
t82 > CHANGE DISK <
t83 > AND HIT A KEY <
t84 Installation aborted. Clean up yourself. Sorry.\n
t85 Not enough space on hard drives(s). You need more than %d bytes.\n
t86 \nHeroes has been copied.\n Type HEROES to launch the game.\n

;лл
;лл  menus.c
;лл
;======================== Menus
t90 CONTROL OPTIONS
t91 PLAYER 1
t92 AUTO PILOT
t93 PLAYER 2
t94 GO BACK
t95 KEYBOARD DEFS
t96 PLAYER 1:
t97 UP
t98 LEFT
t99 DOWN
t100 RIGHT
t101 TURBO
t102 STOP
t103 PLAYER 2:
t104 SOUND OPTIONS
t105 MUSIC VOL
t106 SFX VOL
t107 MUSIC
t108 SFX
t109 SCREEN OPTIONS
t110 RADAR MAP
t111 GLENZ TRAIL
t112 INFOS
t113 LIGHTING
t114 INERTIA
t115 GAME OPTIONS
t116 PLAYER 1        ;couleurs
t117 PLAYER 2
t118 PLAYER 3
t119 PLAYER 4
t120 SPEED
t121 %d ROUND%c           ; le %c est un 'S' lorsque %d>=2
t122 ORIGINAL LEVELS
t123 ORIGINAL+EXTRAS
t124 EXTRAS ONLY
t125 EXTRAS LEVELS
t126 EXTRAS: NONE
t127 EXTRAS: ALL
t128 EXTRAS: SELECT
t129 OPTIONS
t130 GAME
t131 SCREEN
t132 SOUND
t133 CONTROL
t134 KEYS
t135 ORDER
t136 EXTRAS
;======================== Quitter
t140 REALLY QUIT ?
t141 NO
t142 YES
;======================== Play
t145 PLAY
t146 TWO PLAYERS
t147 ONE PLAYER
t148 LOAD...
;======================== Main Menu
t150 HEROES
t151 PLAY
t152 OPTIONS
t153 INFOS
t154 CREDITS
t155 SCORES
t156 ORDER
t157 EDITOR
t158 QUIT
;======================== demo
t160 DEMO VERSION
t161 THIS VERSION IS
t162 LIMITED TO
t163 10 LEVELS.
t164 MOREOVER THE
t165 LEVEL-EDITOR HAS
t166 BEEN REMOVED.
;======================== Edit_config
t170 SELECT A LEVEL
t171 EDITOR
t172 LOAD LEVEL
t173 NEW LEVEL
t174 EXISTING LEVEL
t175 NEW LEVEL
t176 TILES
t177 NAME
t178 X-WRAP
t179 Y-WRAP
t180 X-SIZE
t181 Y-SIZE
t182 EDIT
;======================== Sauvegardes
t185 CHOSE A SAVE SLOT
t186 CHOSE A LOAD SLOT
