config.h
config.h.in
Makefile.in
stamp-h.in
Makefile
stamp-h
.deps
keysdef-inc.h
heroes
heroeslvl
music.raw
music.wav
rsc_files_hash.c
debughash.c
prefs.c
prefs.h
debugchn.h
debughash.gperf
keysdefs-inc.h
people.c
